.element__like {
  padding: 0;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/disabled-like.svg);
  background-repeat: no-repeat;
  background-color: unset;
  border: none;
}

.element__like:hover {
  opacity: 0.5;
  cursor: pointer;
}