.element__delete {
  background-image: url(../../../images/delete.svg);
  position: absolute;
  top: 20px;
  right: 20px;
  background-repeat: no-repeat;
  width: 18px;
  height: 19px;
  border: none;
  outline: none;
  background-color: unset;
  z-index: 1;   
}

.element__delete:hover {
  opacity: 0.6;
  cursor: pointer;
}
